body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

#box-sizing{
    background: grey;
    text-align: center;
    text-decoration: solid;
    width: 900px;
}

#box-left{
    background: black;
    float: left;
}

#box-right{
    background: white;
    float: right;
}