* {
    padding: 0;
    margin: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

a:link, a:visited{
    font: bold;
    text-decoration: none;
    color: white;
    padding: 8px;
}

a:hover{
    background: white;
    color: #F2B80C;
}
#cabecalho{
    background: #F2B80C;
    padding: 15px;
    text-align: center;
    width: auto;
}

#logo, #menu{
    padding: 10px;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}